<div class="row">
    <div class="col-xs-3">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" name="date" id="date" class="form-control date-picker" ng-model="mm.date" ng-change="mm.dateChange()"
                            />
                            <label class="input-group-addon" for="date">
                                <i class="glyphicon glyphicon glyphicon-calendar"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="overflow">
                <div class="list-group">
                    <a href="javascript:;" class="list-group-item" ng-class="{active:mm.isSelected(meeting)}" ng-repeat="meeting in mm.getUnassigned()"
                        ng-click="mm.select(meeting)">
                        <span class="badge">{{mm.duration(meeting)}}</span> {{meeting.subject}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="overflow">
            <div class="list-group">
                <a href="javascript:;" class="list-group-item" ng-repeat="type in mm.types" ng-click="mm.selectType(type)" ng-class="{active:type==mm.type}"
                    title="{{type.description}}">
                    {{type.name}}
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="search" class="form-control" ng-model="mm.projectSearch" />
                            <label class="input-group-addon">
                                <a href="javascript:;" class="btn-link" ng-click="mm.projectSearch=''"><i class="glyphicon glyphicon-remove"></i></a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="overflow">
                    <div class="list-group">
                        <a href="javascript:;" class="list-group-item" 
                        ng-repeat="project in mm.myProjects | filter:{name:mm.projectSearch}" ng-click="mm.assign(project)" 
                        ng-class="{active:project==mm.project}">
                            {{project.name}} ({{project.customer.shortName}})
                            <span class="badge">{{(mm.myMeetings | filter:{projectId:project.id}).length}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <h3>
            My meetings
            <button type="button" class="btn btn-primary" ng-click="mm.saveMyMeetings()" ng-disabled="mm.saving">
                <i class="glyphicon glyphicon-check"></i>
                Save
            </button>
        </h3>

        <div class="overflow">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="meeting in mm.myMeetings | filter:{projectId:mm.project.id} | limitTo:100">
                    <a href="javascript:;" type="button" class="pull-right" ng-click="mm.unassign(meeting)">&times;</a> {{meeting.subject}}
                </li>
            </ul>
        </div>
    </div>
</div>