<div class="row">
    <div class="col-xs-2">
        <div class="form-horizontal">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" name="date" id="date" class="form-control date-picker" ng-model="mr.date" ng-change="mr.dateChange()"
                        />
                        <label class="input-group-addon" for="date">
                            <i class="glyphicon glyphicon glyphicon-calendar"></i>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-9">
                            <input type="range" name="target" id="target" ng-model="mr.target" 
                            min="3600" max="28800" step="{{mr.step}}" />
                        </div>
                        <div class="col-xs-2">
                            <span class="badge">{{mr.target / 3600 | number:2}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="overflow">
                    <div class="list-group">
                        <a href="javascript:;" ng-repeat="report in mr.reports" class="list-group-item" ng-click="mr.select(report)">{{report.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10">
        <table class="table table-condensed table-striped" ng-if="mr.reportItems.length>0">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Project</th>
                    <th>Time</th>
                    <th>Work Type</th>
                    <th>Actual</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in mr.reportItems">
                    <td>{{item.date | date:"dd/MM/yyyy"}}</td>
                    <td>{{item.customer.shortName}}</td>
                    <td>{{item.project.name}}</td>
                    <td>{{item.adjustedSeconds/3600 | number:2 }} </td>
                    <td>{{item.type}}</td>
                    <td>{{item.seconds/3600 | number:2}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="warning">
                    <td>{{mr.personal.date | date:"dd/MM/yyyy"}}</td>
                    <td>{{mr.personal.customer.shortName}}</td>
                    <td>{{mr.personal.project.name}}</td>
                    <td>{{mr.personal.seconds/3600 | number:2}}</td>
                    <td>{{mr.personal.type}}</td>
                    <td>{{mr.personal.seconds/3600 | number:2}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>