<div class="row">
    <div class="col-xs-2">
        <div class="overflow">
            <div class="list-group">
                <a href="javascript:;" ng-repeat="report in mr.reports" 
                    class="list-group-item" ng-click="mr.select(report)">{{report.name}}</a>
            </div>
        </div>
    </div>
    <div class="col-xs-10">
        <table class="table table-condensed table-striped" ng-if="mr.reportItems.length>0">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Project</th>
                    <th>Title</th>
                    <th>Time</th>
                    <th>Work Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in mr.reportItems">
                    <td>{{item.date | date}}</td>
                    <td>{{item.customer.shortName}}</td>
                    <td>{{item.project.name}}</td>
                    <td></td>
                    <td>{{item.seconds}} ({{item.adjustedSeconds}})</td>
                    <td>{{item.type}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="warning">
                    <td>{{mr.personal.date | date}}</td>
                    <td>{{mr.personal.customer.shortName}}</td>
                    <td>{{mr.personal.project.name}}</td>
                    <td></td>
                    <td>{{mr.personal.seconds}}</td>
                    <td>{{mr.personal.type}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>